<div class="otp-input" dir="ltr" [class.otp-input--disabled]="disabled">
  @for (i of indices; track i) {
    <input
      #otpBox
      type="text"
      inputmode="numeric"
      maxlength="1"
      autocomplete="one-time-code"
      class="otp-input__box"
      [class.otp-input__box--filled]="digits[i]"
      [value]="digits[i]"
      [disabled]="disabled"
      [attr.aria-label]="'Digit ' + (i + 1) + ' of ' + length"
      (input)="onInput($event, i)"
      (keydown)="onKeydown($event, i)"
      (paste)="onPaste($event)"
      (focus)="onFocus(i)"
    />
  }
</div>
